/*
.test-quadon{
    font-family: "quadon",Georgia,serif;
    font-weight: lighter;
}
.not-found{
    font-family: "quadon",Georgia,serif;
    font-weight: bold;
}

.distance-learning-logo-text{
    background: #ffffff;
    color: #005395;
    font-family: serif;
    font-size: 32px;
    position: absolute;
    top: 91px;
    left: 114px;
    padding: 5px;
    min-width: 300px;
}

*/
h1,h2,h3{
    font-family: "quadon",Georgia,serif;
}
h1 .h1-content{
    background: #8CBFD2;
    padding-left: 10px;
}
/*for title content*/
pre.center{
    width: 60%;
    border: #F2773F solid;
}
.star{
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    width: 1000px;
    height: 400px;
    background: #E6D273;
    -webkit-shape-outside: polygon(50% 0%,30% 30%,50% 60%, 70% 30%);
    shape-outside: polygon(50% 0%,30% 30%,50% 60%, 70% 30%);
    -webkit-clip-path: polygon(50% 0%,30% 30%,50% 60%, 70% 30%);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.slantLine{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    background: #003d4c;
    -webkit-shape-outside: polygon(0 82%,100% 92%,100% 0,0 0);
    shape-outside: polygon(0 82%,100% 92%,100% 0,0 0);
    -webkit-clip-path: polygon(0 72%,100% 92%,100% 0,0 0);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.slantLine_2{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    background: #c92434;
    -webkit-shape-outside: polygon(0% 100%,100% 100%,100% 18%, 0% 0%);
    shape-outside: polygon(0% 100%,100% 100%,100% 18%, 0% 0%);
    -webkit-clip-path: polygon(0% 100%,100% 100%,100% 18%, 0% 0%);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.slantLine_3{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    background: #c92434;
    -webkit-shape-outside: polygon(0% 0%,0% 100%,30% 100%, 70% 0%);
    shape-outside: polygon(0% 0%,0% 100%,30% 100%, 70% 0%);
    -webkit-clip-path: polygon(0% 0%,0% 100%,30% 100%, 70% 0%);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.slantLine_4{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    background: #c92434;
    -webkit-shape-outside: polygon(0% 0%,0% 100%,70% 100%, 30% 0%);
    shape-outside: polygon(0% 0%,0% 100%,70% 100%, 30% 0%);
    -webkit-clip-path: polygon(0% 0%,0% 100%,70% 100%, 30% 0%);
    -webkit-shape-margin: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
